<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Welcome, <%= user.username %> </h2>

    <h3>All Questions</h3>
    <ul>
        <% questions.forEach(question => { %>
            <li>
                <a href="/questions/<%= question._id %>"><strong><%= question.title %></strong></a>  
            </li>
        <% }) %>
    </ul>
</body>
</html>
